<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="user_reset_pass_command" xsi:type="object">RoyalCopenhagen\Command\Console\Command\UserResetPassCommand</item>
            </argument>
        </arguments>
    </type>
</config>
